@tailwind base;
@tailwind components;
@tailwind utilities;

.icon__search {
    background: url('images/search.svg') no-repeat center center;
    @apply inline-block;
}

.icon__menu-open {
    background: url('images/menu-open.svg') no-repeat center center;
    @apply inline-block;
}

.icon__menu-close {
    background: url('images/menu-close.svg') no-repeat center center;
    @apply inline-block;
}

.navbar {
    @apply bg-white border-b-2 border-blue-700 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800;
}

.navbar__container {
    @apply container flex flex-wrap justify-between items-center mx-auto;
}

.navbar__search-btn {
    line-height: 0.25rem;
    @apply md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-2.5 mr-1;
}

.navbar__menu-btn {
    line-height: 0.25rem;
    @apply inline-flex items-center p-2 text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}

.navbar__search-input {
    @apply block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.navbar__menu {
    @apply hidden justify-between items-center w-full md:flex md:w-auto md:order-1;
}

.navbar__mobile-search {
    @apply relative mt-3 md:hidden;
}

.navbar__mobile-search-input {
    @apply block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.navbar__menu-items {
    @apply flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium;
}

.navbar__menu-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

.navbar__search-icon {
    @apply flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none;
}

.row {
    @apply lg:flex lg:flex-wrap box-border max-w-full;
}

.col {
    @apply lg:w-1/3 bg-red-300 lg:max-w-[33.333333%];
}

.coll {
    @apply lg:w-3/4;
}

.colr {
    @apply lg:w-1/4;
}

@media (min-width: 1024px) {
    .col, .coll, .colr {
        flex: 0 0 auto;
    }
}

.d-none {
    display: none!important;
}