@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f3f4f8;
}

h1, h2, h3, h4, h5 {
    @apply font-bold;
}

h1 {
    @apply text-xl lg:text-2xl;
}

h2 {
    @apply text-lg lg:text-xl;
}

h3 {
    @apply text-lg;
}

a:hover, a:active {
    color: #1d4ed8;
}

a {
    @apply font-medium;
}

p {
    @apply mb-2;
}

.icon__home {
    background: url('images/home.svg') no-repeat center center;
    @apply inline-block;
}

.icon__right-arrow {
    background: url('images/right-arrow.svg') no-repeat center center;
    @apply inline-block;
}

.icon__search {
    background: url('images/search.svg') no-repeat center center;
    @apply inline-block;
}

.icon__menu-open {
    background: url('images/menu-open.svg') no-repeat center center;
    @apply inline-block;
}

.icon__play {
    background: url('images/play.svg') no-repeat center center;
    @apply inline-block;
}

.icon__pause {
    background: url('images/pause.svg') no-repeat center center;
    @apply inline-block;
}

.icon__music {
    background: url('images/music.svg') no-repeat center center;
    @apply inline-block;
}

.icon__eye {
    background: url('images/eye.svg') no-repeat center center;
    @apply inline-block;
}

.icon__download {
    background: url('images/download.svg') no-repeat center center;
    @apply inline-block;
}

.navbar {
    @apply fixed w-full top-0 left-0 bg-white border-b-2 border-blue-700 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 z-50;
}

.navbar__container {
    @apply container flex flex-wrap justify-between items-center mx-auto;
}

.navbar__search-btn {
    line-height: 0.25rem;
    @apply md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-2.5 mr-1;
}

.navbar__menu-btn {
    line-height: 0.25rem;
    @apply inline-flex items-center p-2 text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}

.navbar__search-input {
    @apply block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.navbar__menu {
    @apply hidden justify-between items-center w-full md:flex md:w-auto md:order-1;
}

.navbar__mobile-search {
    @apply relative mt-3 md:hidden;
}

.navbar__mobile-search-input {
    @apply block p-2 pl-10 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.navbar__menu-items {
    @apply flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium;
}

.navbar__menu-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

.navbar__search-icon {
    @apply flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none;
}

.row {
    @apply lg:flex lg:flex-wrap box-border max-w-full;
}

.box {
    @apply box-border max-w-full;
}

.col {
    @apply lg:w-1/3;
}

.coll {
    @apply lg:w-3/4;
}

.colr {
    @apply lg:w-1/4;
}

@media (min-width: 1024px) {
    .col, .coll, .colr {
        flex: 0 0 auto;
    }
}

.ringtone {
    @apply bg-white rounded shadow flex p-2;
}


.ringtone__play i, .ringtone__pause i {
    @apply w-16 h-16 cursor-pointer;
}

.ringtone__info {
    @apply p-2 truncate w-full;
}

.ringtone__title {
    @apply font-medium truncate;
}

.ringtone__meta {
    @apply text-sm text-gray-500 flex;
}

.ringtone__meta-item {
    @apply mr-2 flex items-center;
}

.ringtone__meta-item i {
    @apply w-3.5 h-3.5 mr-0.5;
}

.view-more {
    @apply font-medium;
}

#top-ringtones .ringtone {
    @apply mb-4;
}

aside {
    @apply p-2;
}

footer .social, footer .pages {
    @apply mt-2;
}

aside#categories .category {
    @apply bg-white px-4 py-2 mb-2 border-l-4 border-blue-700 truncate w-full;
}

.page__content img {
    @apply mb-4 mx-auto;
}

.page__content h1, .page__content h2, .page__content h3, .page__content h4, .page__content h5 {
    @apply mb-4;
}

.pagination {
    @apply flex items-center w-full;
}

.pagination nav {
    @apply m-auto;
}

.pagination nav .nav-links {
    @apply inline-flex flex-wrap -space-x-px;
}

.pagination nav .nav-links {
    @apply mt-5;
}

.pagination nav .nav-links a.page-numbers, .pagination nav .nav-links span.page-numbers {
    @apply py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}

.pagination nav .nav-links a.prev {
    @apply ml-0 rounded-l-lg;
}

.pagination nav .nav-links span.current {
    @apply text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
}

.pagination nav .nav-links a.next {
    @apply rounded-r-lg;
}

.breadcrumb {
    @apply flex truncate py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700;
}

.breadcrumb ol {
    @apply inline-flex items-center space-x-1 md:space-x-3;
}

.breadcrumb ol li a.breadcrumb__home {
    @apply inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
}

.breadcrumb ol li a.breadcrumb__item {
    @apply ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white;
}

.breadcrumb ol li span.breadcrumb__current {
    @apply ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400;
}

.box--white {
    @apply p-4 rounded bg-white shadow;
}

.ringtone-detail__audio {
    @apply mt-5;
}

.ringtone-detail__description {
    @apply my-5;
}

.ringtone-detail__info {
    @apply mt-5;
}

.ringtone-detail__info table {
    @apply w-full text-sm text-gray-500 dark:text-gray-400;
}

.ringtone-detail__info table tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
}

.ringtone-detail__info table tr th {
    @apply px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap;
}

.ringtone-detail__info table tr td {
    @apply px-6 py-4;
}

.ringtone-detail__info .social-link {
    @apply mr-2 text-blue-700;
}

.download-btn {
    @apply text-white bg-blue-700 hover:text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}

.page__title {
    @apply mb-5;
}